<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.IOT"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".MainFormActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity"></activity>
        <activity android:name=".SettingActivity"></activity>
        <activity android:name=".ScheduleActivity"></activity>
        <activity android:name=".AddKeyActivity"></activity>
        <activity android:name=".AddDeviceActivity"></activity>
        <!--<activity android:name=".JunkActivity"></activity>-->
    </application>
</manifest>
